# Database
DB_URL=jdbc:postgresql://localhost:5432/smart_user_auth
DB_USERNAME=smart_user
DB_PASSWORD=smart_pass

# Server
SERVER_PORT=8080

# CORS (comma-separated list)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200

# Active Profile (dev|test|prod)
SPRING_PROFILES_ACTIVE=dev

# JWT (generate secret with: openssl rand -base64 32)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
